.promo {
  max-width: 1200px;
  min-height: 493px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.promo__title {
  max-width: 730px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 160px;
}

.promo__nav {
  margin-top: 151px;
}

.promo__nav-items {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.promo__nav-item {
  display: flex;
  width: 96px;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  background-color: #e8e8e8;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.promo__nav-item:hover {
  opacity: 0.6;
}


.promo__nav-item:last-child {
  margin-right: 0;
}

.promo__nav-title {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
  .promo {
    max-width: 94%;
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .promo__title {
    font-size: 40px;
    padding-top: 350px;
    text-shadow: none;
    line-height: 52px;
  }

  .promo__nav {
    margin-top: 314px;
  }

  .promo__nav-items {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 540px) {
  .promo {
    max-width: 94%;
    min-height: 589px;
  }

  .promo__nav {
    margin-top: 212px;
  }

  .promo__title {
    font-size: 29px;
    padding-top: 220px;
    line-height: 37px;
  }

  .promo__nav-items {
    padding-bottom: 22px;
  }

  .promo__nav-item {
    width: 82px;
    height: 26px;
    font-size: 10px;
    border-radius: 6px;
  }
}
