.navigation {
  width: 100%;
  display: flex;
  align-items: center;
}

.navigation__place {
  width: 100%;

}

.navigation__list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navigation__icon-burger {
  display: none;
  margin-left: auto;
  background: url('../../images/burger_menu.svg') center;
  background-color: transparent;
  width: 44px;
  height: 44px;
  border: none;
  outline: none;
}

.navigation__place-btn-close {
  display: none;
  width: 22px;
  height: 22px;
  background: url('../../images/btn-close.svg') center;
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  cursor: pointer;
}

/*
.navigation__place {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.navigation__items {
  list-style-type: none;
  display: flex;
  max-width: 100%;
  padding: 0;
  margin-left: 44px;
}

.navigation__item {
  display: block;
  margin-right: 16px;
  font-size: 13px;
  line-height: 18px;
  transition: opacity 0.3s linear;
}

.navigation__item-hidden {
  display: none;
}

.navigation__item a {
  text-decoration: none;
  color: black;
}

.navigation__item:hover {
  cursor: pointer;
  opacity: 0.3;
}

.navigation__link {
  text-decoration: none;
}

.navigation__link-profile {
  width: 100px;
  height: 32px;
  border: none;
  background: white;
  display: flex;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  margin-left: auto;
  padding-left: 12px;
  line-height: 12px;
  transition: opacity 0.2s linear;
}

.navigation__link-profile:hover {
  opacity: 0.6;
}

.navigation__link-profile svg {
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 8px;
  padding-left: 8px;
}

/* .navigation__icon-burger {
  display: none;
} */

/* .navigation__icon-burger-hidden {
  display: none;
} */

.navigation__place-btn-close-hidden {
  display: none;
}

/* .navigation__place-btn-close {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  background: transparent;
  cursor: pointer;
} */

.navigation__link-profile-btn {
  width: 26px;
  height: 26px;
  background: #f2f2f2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

.navigation__link_active {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
.navigation {
  justify-content: end;
  display: flex;
}

  .navigation__place {
    display: none;
  }

  .navigation__list-container {
    flex-direction: column;
    height: 75%;
    padding-top: 159px;
    padding-bottom: 90px;
  }

  .navigation__place-menu-open {
    justify-content: space-between;
    display: flex;
  }

  .navigation__place-visible {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 3;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .3);
  }

  .navigation__sidebar {
    width: 70%;
    min-height: 100vh;
    margin-left: auto;
    background: #f2f2f2;
  }

  .navigation__items-menu {
    flex-direction: column;
    margin: 0;
  }

  .navigation__items {

    text-align: center;
  }

  .navigation__item {
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 28px;
  }

  .navigation__item-menu {
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 28px;

  }

  .navigation__link-profile {
    margin: 0;

  }

  .navigation__place-menu {
    justify-content: center;
    align-items: flex-start;
  }

  .navigation__icon-burger {
    display: block;
  }

  .navigation__item-hidden {
    display: block;
  }

  /* .navigation__icon-burger {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .navigation__icon-burger-hidden {
    display: none;
  } */

  .navigation__place-btn-close {
    display: block;
  }

  .navigation__item {
    margin-right: 0;
  }
}

@media screen and (max-width: 540px) {
  .navigation__sidebar {
    width: 100%;
  }

  .navigation__item {
    margin-bottom: 24px;
  }
}
