.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  max-width: 1140px;
  margin: 0 auto;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__icon_menu {
  justify-content: flex-start;
}

.header_burger {
  background-image: url("../../images/burger_menu.svg");
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}

@media screen and (max-width: 1280px) {
  .header {
    max-width: 94%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }
}
