.register {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  max-width: 393px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 83px;
}

.register__title {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
}

.form__label {
  font-size: 10px;
  color: #A0A0A0;
  line-height: 12.1px;
  margin-bottom: 5px;
}

.form__input {
  border: none;
  margin-bottom: 24px;
  height: 27px;
  border-bottom: 1px solid #E8E8E8;
  padding: 3px;
  font-size: 14px;
}

.form__input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.no-margin {
  margin-bottom: 0;
}


.form__button-signup {
  border: none;
  width: 100%;
  height: 45px;
  background-color: black;
  color: #ffffff;
  font-size: 14px;
  border-radius: 3px;
  margin-top: 69px;
}

.form__label-signup {
  margin: 0;
  text-align: center;
  font-size: 14px;
  margin-top: 16px;
  color: #A0A0A0;
}

.form__error-message {
  margin: 0;
  font-size: 10px;
  color: #FF4062;
  margin-top: 6px;
}

.form__label-signup-link {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .register {
    padding-top: 232px;
  }
}

@media screen and (max-width: 540px) {
  .register {
    max-width: 85%;
    padding-top: 59px;
  }

  .logo-center {
    display: block;
    margin: 0 auto;
  }

  .register__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .form {
    padding-bottom: 65px;
  }

  .form__button-signup {
    margin-top: 157px;
    font-size: 12px;
  }

  .form__label-signup {
    font-size: 12px;
  }
}
