.techs {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 110px;
  padding-top: 110px;
}

.container {
  background: #F5F5F5;
}

.techs__subtitle {
  margin: 0;
  font-size: 50px;
  text-align: center;
  font-weight: 400;
  margin-top: 90px;
  margin-bottom: 26px;
}

.techs__text {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 100px;
}

.techs__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.techs__item {
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: #E8E8E8;
  border-radius: 10px;
  align-items: center;
  font-size: 14px;
  margin-right: 10px;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.techs__item:hover {
  opacity: 0.6;
}

.techs__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1280px) {
  .techs {
    max-width: 94%;
  }
}

@media screen and (max-width: 768px) {
  .techs {
    max-width: 90%;
    padding-bottom: 90px;
    padding-top: 90px;
  }

  .techs__subtitle {
    margin-top: 80px;
    margin-bottom: 22px;
  }

  .techs__text {
    margin-bottom: 83px;
  }

  .techs__item {
    font-size: 12px;
    width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    background-color: transparent;
  }

  .techs {
    padding-bottom: 70px;
    padding-top: 70px;
  }

  .techs__subtitle {
    font-size: 30px;
  }

  .techs__items {
    flex-wrap: wrap;
    max-width: 179px;
    margin: 0 auto;
    justify-content: space-evenly;
  }

  .techs__items:last-child {
    justify-content: space-between;
  }

  .techs__item {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .techs__item:last-child {
    margin-bottom: 0;
  }

  .techs__text {
    margin-bottom: 50px;
    font-size: 11px;
    line-height: 16px;
  }

}
